header {
    background: green;
    color: white;
    height: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 100%;   
}
main {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 60% 40%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .objective {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  .experience {
    grid-column: 1/2;
    }

  .education {
    grid-column: 1/2;
    }

    .date {
        grid-column: 1/2;
        text-align: left;
    }

    .activity {
        grid-column: 1/2;
    }

    .certifications {
        grid-column: 1/2;
        column-fill: balance;
    }

    .info {
        grid-column: 2/2;
        display: flex;
    }

    .soft {
        grid-column: 2/2;
        display: flex;
    }

    .hard {
        grid-column: 2/2;
        display: flex;
    }


 